/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Uu]tmp/
.vscode/
*.apk
/[Bb]ackUpThisFolder_ButDontShipItWithYourGame/
/[Bb]urstDebugInformation_DoNotShip/
*.slnx
*.csproj
*.sln
.utmp/
try_BackUpThisFolder_ButDontShipItWithYourGame/
unity-double-vision_BurstDebugInformation_DoNotShip/