/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Uu]tmp/
.vscode/
*.apk
/[Bb]ackUpThisFolder_ButDontShipItWithYourGame/
/[Bb]urstDebugInformation_DoNotShip/
*.slnx
*.csproj
*.sln
.utmp/
try_BackUpThisFolder_ButDontShipItWithYourGame/
unity-double-vision_BurstDebugInformation_DoNotShip/
replay_pid39612.log
replay_pid19152.log
new-mqtt-mine_BurstDebugInformation_DoNotShip/
hs_err_pid48308.log
hs_err_pid10656.log
hs_err_pid19152.log
hs_err_pid24148.log
hs_err_pid39612.log